body{
    background-image: url('https://camo.githubusercontent.com/5a06cd83cbc77da567559008fb9ade8e909c0fad/68747470733a2f2f7777772e7075626c6963646f6d61696e70696374757265732e6e65742f70696374757265732f33303030302f76656c6b612f73756e7365742d31352e6a7067');    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    widows:100vw;
    width:100%;
    height:100%;

}


.pink_heading{
    color:hotpink;
}

#heading{
    color:green;
    font-size: 3em;
}

#image{
    width: 50vw;
}

#first_paragraph{
    font-size: 1em;
}

#small_heading{
    color: royalblue;
}

#navbar{
    widows: 100vw;
    background: orange
}

#navbar a{
    text-decoration: none;      
    font-size: 3em;
}

