body{
    background-image: url('https://cdn.shopify.com/s/files/1/1003/7610/products/Basketball_court_on_top_Wall_Mural_Wallpaper_a.jpg?v=1525901159');    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    widows:100vw;
    width:100%;
    height:100%;

}


.pink_heading{
    color:black;
}

#image{
    width: 50vw;
}

#first_paragraph{
    font-size: 1em;
}

#small_heading{
    color: royalblue;
}

#navbar{
    widows: 100vw;
    background: orange
}

#navbar a{
    text-decoration: none;      
    font-size: 3em;
}

